View {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.t-center {
  text-align: center;
}
.clfff {
  color: #fff;
}
.fs10 {
  font-size: 26px;
}
.fs11 {
  font-size: 30px;
}
.fs12 {
  font-size: 32px;
}
// margin
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
// padding
.pd-10 {
  padding: 10px;
}
.pd-20 {
  padding: 20px;
}
.pd-30 {
  padding: 30px;
}
.pd-40 {
  padding: 40px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.app-title {
  padding-left: 40px;
  position: relative;
}
.app-title:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4PX;
  height: 100%;
  background-color: lightseagreen;
}
.cl-success {
  color: lightseagreen;
}
